name: Main

on:
  push:
    branches:
      - main
  pull_request:
    types: [opened, synchronize, reopened, ready_for_review]

jobs:
  quality:
    runs-on: ubuntu-latest
    steps:
      - name: Check out
        uses: actions/checkout@v4

      - uses: actions/cache@v4
        with:
          path: ~/.cache/pre-commit
          key: pre-commit-${{ hashFiles('.pre-commit-config.yaml') }}

      - name: Set up the environment
        uses: ./.github/actions/setup-python-env

      - name: Run checks
        run: make check

  tests-and-type-check:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        # No extra only runs on 3.13
        include:
          - python-version: "3.11"
            extras: "all"
          - python-version: "3.12"
            extras: "all"
          - python-version: "3.13"
            extras: "all"
          # - python-version: "3.14"
          #   extras: "all"
          - python-version: "3.13"
            extras: ""
      fail-fast: false
    env:
      UV_PYTHON: ${{ matrix.python-version }}
    defaults:
      run:
        shell: bash
    steps:
      - name: Check out
        uses: actions/checkout@v4

      - name: Set up the environment
        uses: ./.github/actions/setup-python-env
        with:
          python-version: ${{ matrix.python-version }}
          extras: ${{ matrix.extras }}

      - name: Run tests
        run: uv run python -m pytest tests -n auto --cov --cov-config=pyproject.toml --cov-report=xml

      - name: Check typing
        run: uv run pyright

      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          slug: youware-labs/pai-agent-sdk
        if: ${{ matrix.python-version == '3.13' && matrix.extras == 'docker' }}
